@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

.va {
  display: flex;
  align-items: center;

}

html {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

a {
  color: #29b140;
}

a:hover {
  text-decoration: underline;
  color:  #24272c;
}

hr {
  background: #e94f20;
}

.hero {
  background: #020202;
}
 

.title,
.subtitle {
  color: white;
  
}

.navbar .navbar-item {
  color: #e4e2ff;
  width: 100%;
}

.navbar .navbar-item.is-active {
  color: #e4e2ff;
  font-weight: 600;
}

.navbar .navbar-item:hover {
  background: transparent;
  color: white;
}

.navbar .navbar-item a {
  margin-left: 1rem;
  background: #239636;
  color: white;
}

.blog-posts {

  background: #13171b;
  padding-top: 4rem;
  padding-bottom: 10rem;
  position:relative;

  float:left;

  width:100%;

  overflow:hidden;

}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #29b140;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.1rem;
  font-family: 'sans-serif'
  text-align: justify;
  color: #aaaaaa;
  
}

.blog-posts .post .featured .featured-image img {
  height: 320px;
}

.box {
  background: #020202;
  color: white;


}



